.formulario{
   
    width: 600px;
    height: 170px;
    padding: 50px;
    border: 2px px slategray rgb(214, 204, 204);
}

.field{
    width: 100%;
    margin: 15px 0;
}

.field label{ 
   
    width: 100%;
    padding-left: 10px;
    height: 30px;
}

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(54, 98, 219);
    outline: none;
}

input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}


